
<!-- Main Carousel Section -->
<div id="main-slide" class="carousel slide carousel-fade" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active">
      <img class="img-responsive" src="assets/images/slider/slider-bg4.jpg" alt="slider">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="slideInLeft animated wow hero-heading" data-wow-delay=".6s">World Travel Tips</h1>
              <h5 class="fadeInDown wow animated hero-sub-heading" data-wow-delay=".8s">All facts and tips to prepare your trip</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="assets/images/slider/slider-bg2.jpg" alt="slider">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="animated wow fadeIn hero-heading" data-wow-delay=".7s">Material Design Inspired</h1>
              <h5 class="animated5 hero-sub-heading">Refreshing Design - Built-with Latest Bootstrap & HTML5</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="assets/images/slider/slider-bg3.jpg" alt="slider">
      <div class="slider-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="animated wow bounceInUp hero-heading" data-wow-delay=".6s">Cutting Edge Features</h1>
              <h5 class="animated4 hero-sub-heading">Material Design - Bootstrap - HTML5 - CSS3 - Responsive </h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#main-slide" data-slide="prev">
    <span><i class="fa fa-angle-left" data-ripple-color="#F0F0F0"><div class="ripple-container"></div></i></span>
  </a>
  <a class="right carousel-control" href="#main-slide" data-slide="next">
    <span><i class="fa fa-angle-right" data-ripple-color="#F0F0F0"><div class="ripple-container"></div></i></span>
  </a>
</div>
<!-- Main Carousel Section End-->

<!-- About Section -->
<section class="mea-about-section section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-6 mea-title-section wow animated slideInRight" data-wow-delay=".2s">
        <h1 class="section-titile-bg">wTraveltips?</h1>
        <h1 class="section-title">About us</h1>
      </div>
      <!-- Section Quote -->
      <div class="col-md-6 mea-section-quote wow animated slideInLeft" data-wow-delay=".2s">
        <blockquote>
          <p>This travel guide is intended to provide you with the most recent and up-to-date information on the main tourist destinations in the world.</p>
        </blockquote>
        <a href="" routerLink="/about" class="animated4 btn btn-common mt-30"><i class="material-icons"></i> Read more<div class="ripple-container"></div></a>

      </div>
    </div>

  </div>
</section>
<!-- About Section End -->

<!-- Advice Section -->
<section class="mea-blog-section section-padding section-dark">
  <div class="container">
    <div class="row">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mea-title-section wow animated slideInLeft" data-wow-delay=".2s">
          <h1 class="section-titile-bg">informations</h1>
          <h1 class="section-title">Pratical informations</h1>
        </div>
        <!-- Section Quote -->
        <div class="col-md-6 mea-section-quote wow animated slideInRight" data-wow-delay=".2s">
          <blockquote>
            <p>No matter what type your trip is, this destination guide gives you all the information you need for your trip so that you can travel better, longer and cheaper.</p>
          </blockquote>
        </div>
      </div>

      <div class="row mt-100">
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".3s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="#">
                <img src="assets/images/advices/advice1.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">

              <!-- Title -->
              <a href="blog-single.html">
                <p><b>Travel with a Moroccan passport with or without visa</b></p>
              </a>
            </div>
          </article>
        </div>
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".4s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="#">
                <img src="assets/images/advices/advice2.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">

              <!-- Title -->
              <a href="blog-single.html">
                <p><b>Our tips for traveling more and cheaper</b></p></a>
            </div>
          </article>
        </div>
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".5s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="#">
                <img src="assets/images/blog/featured3.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">

              <!-- Title -->
              <a href="blog-single.html"><h2 class="subtitle">Morocco</h2>
                <p><b>North Africa</b></p></a>
            </div>
          </article>
        </div>
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".5s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="#">
                <img src="assets/images/blog/featured3.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">
              <!-- Title -->
              <a href="blog-single.html"><h2 class="subtitle">Morocco</h2>
                <p><b>North Africa</b></p></a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="row mt-30 wow animated fadeInUp" data-wow-delay=".6s">
      <!-- Button -->
      <div class="col-md-12 text-center">
        <a href="" routerLink="/about" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons">&#xE90F;</i> Explore more advides<div class="ripple-container"></div></a>
      </div>
    </div>
  </div>
</section>
<!-- Advice Section End -->


<!-- Destination Section -->
<section class="mea-blog-section section-padding">
  <div class="container">
    <div class="row">
      <div class="row">
        <!-- Section Titile -->
        <div class="col-md-6 mea-title-section wow animated slideInLeft" data-wow-delay=".2s">
          <h1 class="section-titile-bg">Destionations</h1>
          <h1 class="section-title">Our Destionations</h1>
        </div>
        <!-- Section Quote -->
        <div class="col-md-6 mea-section-quote wow animated slideInRight" data-wow-delay=".2s">
          <blockquote>
            <p>Here are tips on budgets, tips to save money, tips on living spaces, what to see and do, and where to eat in some destinations.</p>
          </blockquote>
        </div>
      </div>

      <div class="row mt-100">
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".3s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="" routerLink="/info">
                <img src="assets/images/blog/featured1.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">
              <!-- Read More -->
              <!-- Title -->
              <a href="blog-single.html"><h2 class="subtitle">Thailande</h2>
                <p><b>Asie</b></p></a>
            </div>
          </article>
        </div>
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".4s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="" routerLink="/info">
                <img src="assets/images/blog/featured2.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">
              <!-- Title -->
              <a href="blog-single.html"><h2 class="subtitle">Fance</h2>
                <p><b>Europe</b></p></a>
            </div>
          </article>
        </div>
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".5s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="#">
                <img src="assets/images/blog/featured3.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">

              <!-- Title -->
              <a href="blog-single.html"><h2 class="subtitle">Morocco</h2>
                <p><b>North Africa</b></p></a>
            </div>
          </article>
        </div>
        <!-- Single Article -->
        <div class="col-xs-6 col-md-3 wow animated fadeInUp" data-wow-delay=".5s">
          <article class="single-blog-post">
            <!-- Featured Image -->
            <div class="featured-image">
              <a href="" routerLink="/info" >
                <img src="assets/images/blog/featured3.png" alt="">
              </a>
            </div>
            <!-- Post Meta -->
            <div class="post-meta">

              <!-- Title -->
              <a href="blog-single.html"><h2 class="subtitle">Morocco</h2>
                <p><b>North Africa</b></p></a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="row mt-30 wow animated fadeInUp" data-wow-delay=".6s">
      <!-- Button -->
      <div class="col-md-12 text-center">
        <a href="" routerLink="/destination" class="animated4 btn btn-common" data-ripple-color="#000"><i class="material-icons">&#xE90F;</i> Explore more destinations<div class="ripple-container"></div></a>
      </div>
    </div>
  </div>
</section>
<!-- Destination Section End -->


